.carousel {
  position: relative;
}

.carousel__back-button {
  position: absolute;
  top: calc(50% - 20px);
  left: 0px;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
}
.carousel__next-button {
  position: absolute;
  top: calc(50% - 20px);
  right: 0px;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.3);
}
