

.addtocart-bar {
flex-direction: column;
    align-items: flex-start;
}

.vmslider-cart .addtocart-button {
padding: 0 0 0 0;
margin-bottom:0;
}

.vmslider-cart .b1c {
display:none !important;
white-space: normal;
border: 0;
padding: 8px 30px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.42;
color:#fff;
background:#21c187;
width: 100%;
}

.vmslider-cart .b1c:hover, .vmslider-cart .b1c:active:hover, .vmslider-cart .b1c:focus , .vmslider-cart .b1c:active:focus {
background:#147a55;
color:#fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.18), 0 0px 10px rgba(0, 0, 0, 0.36);
    opacity: 0.95;
}
.vmslider  .slick-prev {
left:-30px;
}

.vmslider  .slick-next {
transform: rotate(180deg);
right: -30px;
}


.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*theme*/

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    /*background: #fff url('./ajax-loader.gif') center center no-repeat;*/
}


/* Dots */
.vmslider .slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.vmslider .slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.vmslider .slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.vmslider .slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.vmslider .slick-dots li button:hover,
.vmslider .slick-dots li button:focus
{
    outline: none;
}
.vmslider .slick-dots li button:hover:before,
.vmslider .slick-dots li button:focus:before
{
    opacity: 1;
}
.vmslider .slick-dots li button:before
{
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;
    text-align: center;

    opacity: .5;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.vmslider .slick-dots li.slick-active button:before
{
    opacity: 1;
    color: black;
}

/*new style*/

/*flexbox*/
.vmslider .slick-slide{
    height: auto;
padding: 15px 0px !important;
}
.vmslider .slick-track{
gap: 30px;
}
.vmslider .slick-track > .vmslider-product-wrap{
    display: flex;
}
/*
блок товара
*/

.vmslider-product{
background: #fff;
padding: 15px;
width: 100%;
box-shadow: none;
margin: 0px 0;
border: 1px solid #d3d3d3;
border-radius: 3px;
}

.vmslider-product:hover {
box-shadow: 0 5px 20px rgba(61,61,61,.1);
border: 1px solid transparent !important;
}

.vmslider-product-wrap .vmslider-product.shadow {
    width: 100%;
    border-radius: 0px;
    border: 0;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
    transition: 200ms;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


/*изображение*/
.vmslider-product{
    transition: all 0.4s ease-out;

}
.vmslider-product .vmslider-image {
    margin: 0px auto 15px 0;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
border-radius: 8px;
border-bottom:0px solid #e8e8e8;
}
.vmslider-product .vmslider-image .image1,
.vmslider-product .vmslider-image .image2 {
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.vmslider-product .vmslider-image img {
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
border-radius: 0px;

}
.vmslider-product .vmslider-image .image1{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
.vmslider-product .vmslider-image .image2{
    opacity: 0;
    transition: opacity 0.4s ease-out;
}
.vmslider-product:hover .vmslider-image .image1{
   opacity:  0; 
    transition: opacity 0.4s ease-out;
}
.vmslider-product:hover .vmslider-image .image2{
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
.vmslider-product:hover .vmslider-image.zoom-image .image1 {
    -webkit-transform: scale(1.25, 1.25);
    -ms-transform: scale(1.25, 1.25);
    transform: scale(1.25, 1.25);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: transform 300ms linear;
    -webkit-transition: transform 300ms linear;
    opacity: 1;
}

.vmslider-product .vmslider-image .image1 {
    transition: transform 300ms ease-out;
}
/*название*/
.vmslider-product .vmslider-name{
    margin-bottom: 5px;
    text-align: left;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
}

.vmslider-readmore a {
width: 100%;
    display: block;
    background: #FDD35F;
    text-align: center;
    margin: 10px 0 0 0;
    padding: 5px 15px;
}

.vmslider-readmore a:hover {
color:#fff;
background: #191C1C;
}


.vmslider-product .vmslider-name a{
    color: #181818;
    text-decoration: none;
    font-size: 18px;

    transition: color 300ms ease-out;
}
.vmslider-product .vmslider-name a:hover{
color:#000 !important;
    transition: color 300ms ease-out;
}
.vmslider-product .vmslider-name a:focus{
    outline: 0;
}
/*цена товара*/
.vmslider-product .vmslider-price{
    margin: 0;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    overflow: hidden;

}
.vmslider-product .vmslider-price .product-price{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;

    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-bottom: 0;
}
.vmslider-product .vmslider-price .product-price span.PricebasePriceWithTax{
    color: #aaa;
    text-decoration: line-through;
    padding: 0;
}
.vmslider-product .vmslider-price .vm-price-desc{
    margin: 0;
}

/*кнопка Купить*/
.vmslider-product .vmslider-cart .quantity-box,
.vmslider-product .vmslider-cart.sliderCart .quantity-controls {

}

.vmslider-product .vmslider-cart.sliderCart div.addtocart-bar {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
gap: 15px;

}

.vmslider-product .vmslider-cart.sliderCart span.addtocart-button > input {
    padding: 7px 5px;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    text-shadow: 0;
    display: inline-block;
    line-height: 1.42;
}

.vmslider-product .vmslider-cart.sliderCart span.addtocart-button > input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.18), 0 0px 10px rgba(0, 0, 0, 0.36);
        opacity: 0.95;
}

.vmslider-product .vmslider-cart.sliderCart span.addtocart-button > input {

border:0;

box-shadow:none;
color:#fff;
font-size:0px;

width: auto;
    white-space: pre-wrap;
background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2217%22%20viewBox%3D%220%200%2021%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.21%2016.732a1.21%201.21%200%20100-2.42%201.21%201.21%200%20000%202.42z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M1%201h3.975l2.523%2010.724a1.35%201.35%200%2001-.15%201.005l-.213.373a.5.5%200%2000.428.753h10.351%22%20stroke%3D%22%23fff%22%20stroke-width%3D%22.852%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.757%204.286l12.902-1.48a1.189%201.189%200%20011.368%201.173v6.293l-12.632.986-1.638-6.972zM16.21%2016.732a1.21%201.21%200%20100-2.42%201.21%201.21%200%20000%202.42z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E) !important;

    background-position: calc(50% - 1px) 13px !important;
    background-repeat: no-repeat !important;
    background-color: #5abb49 !important;
    width: 40px;
    height: 40px;
    border-radius: 50px;
box-shadow: none;
}
.vmslider-product .vmslider-cart.sliderCart span.addtocart-button > input:hover {
background-image: url(data:image/svg+xml,%3Csvg%20width%3D%2221%22%20height%3D%2217%22%20viewBox%3D%220%200%2021%2017%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9.21%2016.732a1.21%201.21%200%20100-2.42%201.21%201.21%200%20000%202.42z%22%20fill%3D%22%23fff%22%2F%3E%3Cpath%20d%3D%22M1%201h3.975l2.523%2010.724a1.35%201.35%200%2001-.15%201.005l-.213.373a.5.5%200%2000.428.753h10.351%22%20stroke%3D%22%23fff%22%20stroke-width%3D%22.852%22%20stroke-miterlimit%3D%2210%22%20stroke-linecap%3D%22round%22%2F%3E%3Cpath%20d%3D%22M5.757%204.286l12.902-1.48a1.189%201.189%200%20011.368%201.173v6.293l-12.632.986-1.638-6.972zM16.21%2016.732a1.21%201.21%200%20100-2.42%201.21%201.21%200%20000%202.42z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E) !important;

    background-color: #222 !important;


box-shadow: none !important;
color:#fff;
}
.vmslider-product .vmslider-cart.nofield .vm-customfields-wrap {
    display: none;
}
/*точки навигации*/
.vmslider .slick-dots{
    position: relative;
    margin-bottom: 0;
    margin-top: 0px;
    bottom: 0;
}
.vmslider .slick-dots li button{
    width: 10px;
    height: 10px;
}
.vmslider .slick-dots li button:before{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
}

.vmslider.nav-top {
    padding-top: 30px;
}

