.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.vm-rating {
	width: 120px;
	height: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	float: left;
	margin-bottom: 10px;
}

@media(min-width: 992px) {
	.vm-rating[data-product-id] {
		cursor: pointer;
	}
}
.vm-rating-item {
	-webkit-box-flex: 0;
	    -ms-flex: 0 0 20%;
	        flex: 0 0 20%;
	max-width: 20%;
	background-image: url(star.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.vm-rating[data-rating="1"] .vm-rating-item:first-child{
	background-image: url(star-fill.svg);
}
.vm-rating[data-rating="2"] .vm-rating-item:nth-child(-n+2){
	background-image: url(star-fill.svg);
}
.vm-rating[data-rating="3"] .vm-rating-item:nth-child(-n+3){
	background-image: url(star-fill.svg);
}
.vm-rating[data-rating="4"] .vm-rating-item:nth-child(-n+4){
	background-image: url(star-fill.svg);
}
.vm-rating[data-rating="5"] .vm-rating-item{
	background-image: url(star-fill.svg);
}

/* отключение рейтинга на смартфонах и планшетах*/
@media(min-width: 992px) {
	.vm-rating[data-product-id]:hover .vm-rating-item {
		background-image: url(star-fill.svg);
	}
	.vm-rating[data-product-id]:hover .vm-rating-item:hover ~ .vm-rating-item {
		background-image: url(star.svg);
	}
}
.vm-rating-wrap .count-votes {
	color: #808080;
	padding-left: 5px;
	float: left;
}
.vm-rating-message {
	font-size: 12px;
}
.vm-rating-message .error {
	color: red;
}
.vm-rating-message .success {
	color: green;
}

